<h1>Please update your link:</h1>

<%= form_tag("/links/#{@link.id}", method: :patch) do %>
<ul>
  <li>
    <%=  label_tag(:slug)%>
    <%= text_field_tag(:slug) %>
  </li>
  <li>
    <%=  label_tag(:target_url)%>
    <%= text_field_tag(:target_url) %>
  </li>
</ul>
  <%= submit_tag("update!") %>
<% end %>
