<h1>Please add a new link:</h1>

<%= form_tag("/links", method: :post) do %>
<ul>
  <li>
    <%=  label_tag(:user_id)%>
    <%= text_field_tag(:user_id) %>
  </li>
  <li>
    <%=  label_tag(:slug)%>
    <%= text_field_tag(:slug) %>
  </li>
  <li>
    <%=  label_tag(:target_url)%>
    <%= text_field_tag(:target_url) %>
  </li>
</ul>
  <%= submit_tag("create!") %>
<% end %>

<% if @link.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@link.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @link.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
